<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSCC013Soap11">
                    <security mode="Transport" />
                </binding>
                <binding name="WSCC013Soap111" />
                <binding name="WSCC005Soap11">
                    <security mode="Transport" />
                </binding>
                <binding name="WSCC005Soap111" />
                <binding name="WSCC006Soap11">
                    <security mode="Transport" />
                </binding>
                <binding name="WSCC006Soap111" />
                <binding name="WSCC012Soap11">
                    <security mode="Transport" />
                </binding>
                <binding name="WSCC012Soap111" />
                <binding name="WSCC011Soap11">
                    <security mode="Transport" />
                </binding>
                <binding name="WSCC011Soap111" />
                <binding name="WSCC016Soap11">
                    <security mode="Transport" />
                </binding>
                <binding name="WSCC016Soap111" />
                <binding name="WSCC007Soap11">
                    <security mode="Transport" />
                </binding>
                <binding name="WSCC007Soap111" />
                <binding name="WSCC022Soap11">
                    <security mode="Transport" />
                </binding>
                <binding name="WSCC022Soap111" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.portaldoconsignado.org.br/ws/ASCC013/"
                binding="basicHttpBinding" bindingConfiguration="WSCC013Soap11"
                contract="SCC013Reference.WSCC013" name="WSCC013Soap11" />
            <endpoint address="https://www.hext.portaldoconsignado.org.br:443/ws/ASCC005/"
                binding="basicHttpBinding" bindingConfiguration="WSCC005Soap11"
                contract="SCC005Reference.WSCC005" name="WSCC005Soap11" />
            <endpoint address="https://www.hext.portaldoconsignado.org.br:443/ws/ASCC006/"
                binding="basicHttpBinding" bindingConfiguration="WSCC006Soap11"
                contract="SCC006Reference.WSCC006" name="WSCC006Soap11" />
            <endpoint address="https://www.hext.portaldoconsignado.org.br:443/ws/ASCC012/"
                binding="basicHttpBinding" bindingConfiguration="WSCC012Soap11"
                contract="SCC012Reference.WSCC012" name="WSCC012Soap11" />
            <endpoint address="https://www.hext.portaldoconsignado.org.br:443/ws/ASCC011/"
                binding="basicHttpBinding" bindingConfiguration="WSCC011Soap11"
                contract="SCC011Reference.WSCC011" name="WSCC011Soap11" />
            <endpoint address="https://www.hext.portaldoconsignado.org.br:443/ws/ASCC016/"
                binding="basicHttpBinding" bindingConfiguration="WSCC016Soap11"
                contract="SCC016Reference.WSCC016" name="WSCC016Soap11" />
            <endpoint address="https://www.hext.portaldoconsignado.org.br:443/ws/ASCC007/"
                binding="basicHttpBinding" bindingConfiguration="WSCC007Soap11"
                contract="SCC007Reference.WSCC007" name="WSCC007Soap11" />
            <endpoint address="https://www.hext.portaldoconsignado.org.br:443/ws/ASCC022/"
                binding="basicHttpBinding" bindingConfiguration="WSCC022Soap11"
                contract="SCC022Reference.WSCC022" name="WSCC022Soap11" />
        </client>
    </system.serviceModel>
</configuration>