<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSCC013Soap11">
                    <security mode="Transport" />
                </binding>
                <binding name="WSCC013Soap111" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.portaldoconsignado.org.br/ws/ASCC013/"
                binding="basicHttpBinding" bindingConfiguration="WSCC013Soap11"
                contract="SCC013Reference.WSCC013" name="WSCC013Soap11" />
        </client>
    </system.serviceModel>
</configuration>